@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #4e4b4b;
}

@theme inline {
  --color-primary-red: #ed1c24;
  --color-light-red: #fcc6c6;
  --color-dark-charcoal: #4e4b4b;
  --color-light-grey: #bfbfbf;
  --color-very-light-grey: #f8f9fa;
  --color-pure-white: #ffffff;
  --color-status-green: #56e40a;
  --color-status-warning-1: #ffd54f;
  --color-status-warning-2: #ff9f1c;
  --color-status-danger: #d7263d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-very-light-grey);
  color: var(--color-dark-charcoal);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
